.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar {
  display: none;
}

.footer {
  min-height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 415px) {
  .pageContainer {
    display: grid;
    grid-template: 10rem auto 5rem / auto 1fr;
    grid-template-areas:
      'sidebar header'
      'sidebar  main'
      'sidebar footer';
    height: 100vh;
    width: auto;
  }
  .sidebar {
    display: block;
    grid-area: sidebar;
  }
  .topbar {
    grid-area: header;
  }
  .mainContent {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
    min-height: auto;
    width: 100%;
  }
}
