.container {
  background-color: var(--color-accent-yellow);
  color: var(--color-accent-white);
  font-size: 2rem;
  line-height: 3rem;
  max-height: 15rem;
  overflow: auto;
  padding: 1rem;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .children {
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
  }
}
