.container {
  background-color: var(--color-blue-gray-600);
  height: 100vh;
  width: 22.9rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.logo {
  margin: 3.2rem 1.4rem;
}

.menuItems {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: auto;
  padding: 0 1.6rem;
  width: 100%;
}

.linkContainer {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  gap: 1.2rem;
  height: 5.6rem;
  line-height: 2.4rem;
  padding: 1.6rem;
  width: 100%;
}

.linkContainer a {
  color: var(--color-accent-white);
}
